<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Kenobi: Hello there</h1>
        <h1>Grievous: General Kenobi</h1>
        <h1>Kenobi: You are a bold one</h1>
        <h1>Grievous: Kill him</h1>
        <h1>Kenobi: Back away, I will deal with this Jedi slime myself</h1>
        <h1>Grievous: Your move</h1>
        <h1>Kenobi: You fool, I have been trained in your Jedi arts by Count Dooku</h1>
        <h1>Grievous: Attack, Kenobi</h1>
    </body>
</html>