{% extends 'base.html' %}

{% block title %}
    Login @ HorseBuy
{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="row">
            <div class="col-md-8 offset-md-3">
                <h1>HorseBuy - </h1>

                <br>

                <h3>where you can buy everything for horses, <br> except a horse.</h3>

                <br>
                <br>

                <h2>Login</h2>
                <form method="POST" action="/login">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" id="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}