{% extends 'base.html' %}

{% block title %}
    HorseBuy
{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6 offset-md-3">
            <h1>Welcome to HorseBuy - </h1>

            <br>

            <h3>where you can buy everything for horses, <br> except a horse.</h3>

            <br>

            <h5>Let the shopping begin!</h5>

            <br>
        </div>
    </div>
{% endblock %}